# Day 2

In [4]:
for i in range(3):
    print(i)
    print(i**2)
    for j in range(3):
        print(i * j)

0
0
0
0
0
1
1
0
1
2
2
4
0
2
4

In [7]:
# 구구단 2단을 출력하는 코드
# 두번째 줄
print('### 2단 ###')
for i in range(1, 10):  # 1이상 10미만 범위에서 루프를 돕니다.
    print('{} * {} = {}'.format(2, i, 2*i))

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## 흐름 제어 (제어 구조)

In [5]:
number = int(input('숫자를 입력해주세요.'))

if number > 0:
    print('양수입니다.')
else:  # 아니라면
    if number < 0:
        print('음수입니다.')
    else:
        print('0입니다.')

숫자를 입력해주세요.0
0입니다.

In [7]:
if number > 0:
    print('양수입니다.')
elif number < 0:
    print('음수입니다.')
else:
    print('0입니다.')

0입니다.

In [6]:
if number > 0:
    print('양수입니다.')

if number < 0:
    print('음수입니다.')

if number == 0:
    print('0입니다.')

0입니다.

In [9]:
number = int(input('Enter Number : '))

if number < 0:
    print('음수입니다.')

# if 0 <= number < 10:  # 파이썬만 가능한 문법

if 0 <= number and number < 10:
    print('1의 자리수입니다.')
if 10 <= number and number < 100:
    print('10의 자리 수입니다.')
if 100 <= number and number < 1000:
    print('100의 자리수입니다.')
if number >= 1000:
    print('난 몰라. 너무 크다.')

Enter Number : 123
100의 자리수입니다.

In [10]:
number = int(input('Enter Number : '))

if number < 0:
    print('음수입니다.')
elif number < 10:
    print('1의 자리수입니다.')
elif number < 100:
    print('10의 자리수입니다.')
elif number < 1000:
    print('100의 자리수입니다.')
else:
    print('난 몰라. 너무 크다.')

Enter Number : 123
100의 자리수입니다.

## 반복문

In [11]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [12]:
for i in [1, 2, 3, [4, 5, 6], 7]:
    print(i)

1
2
3
[4, 5, 6]
7

In [22]:
for i in range(2, 10):
    # print(i)
    if i == 3:
        continue
    if i == 5:
        break
    for j in range(1, 10):
        print('{} * {} = {}'.format(i, j, i*j))
        if j == 3:
            break

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12

In [25]:
for i in range(10):
    if i > 5:
        continue
    print(i**2)

0
1
4
9
16
25

In [26]:
for i in range(10):
    if i <= 5:
        print(i**2)

0
1
4
9
16
25

In [33]:
# for i in range(10):
#     print(i)

i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

## 함수 (Functions)

In [36]:
number = 2
print('*** {} 단 ***'.format(number))
for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))

number = 3
print('### {} 단 ###'.format(number))
for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))
    
number = 4
print('### {} 단 ###'.format(number))
for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))
    
number = 5
print('### {} 단 ###'.format(number))
for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))

### 2 단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
### 3 단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
### 4 단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
### 5 단 ###
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [48]:
def print_gugudan(number):
    print('#$#$ {} 단 #$#$'.format(number))

#     for i in range(2, 10, 2):
#         print('{} * {} = {}'.format(number, i, number*i))

    for i in range(1, 10):
        if i % 2 == 0:
            print('{} * {} = {}'.format(number, i, number*i))

In [49]:
print_gugudan(2)
print_gugudan(3)
print_gugudan(4)
print_gugudan(5)

#$#$ 2 단 #$#$
2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
#$#$ 3 단 #$#$
3 * 2 = 6
3 * 4 = 12
3 * 6 = 18
3 * 8 = 24
#$#$ 4 단 #$#$
4 * 2 = 8
4 * 4 = 16
4 * 6 = 24
4 * 8 = 32
#$#$ 5 단 #$#$
5 * 2 = 10
5 * 4 = 20
5 * 6 = 30
5 * 8 = 40

In [50]:
def mysum2(x, y):
    return x + y

In [55]:
result = mysum2(1, 2)
result

3

In [57]:
def mysum3(x, y, z):
    return x + y + z + 10

In [58]:
mysum3(1, 2, 3)

16

In [64]:
def print_gugudan(number):
    print('{}단을 출력할 예정이야.'.format(number))
#     return None

In [65]:
print(print_gugudan(2))

2단을 출력할 예정이야.
None

In [66]:
def mycalc(x, y):
    if x > 0:
        return x + y

In [68]:
result = mycalc(1, 2) + 10
result

13

In [69]:
result = mycalc(-1, 2) + 10
result

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [70]:
def mysum2(x, y):
    return x * 10 + y

In [71]:
mysum2(1, 2)

12

In [72]:
mysum2(2, 1)

21

In [73]:
mysum2(x=1, y=2)

12

In [74]:
mysum2(y=2, x=1)

12

In [76]:
fn = mysum2
fn(1, 2)

12

### 익명함수

In [78]:
mysum2

In [77]:
# def ???(x, y):
#     return x * 10 + y

lambda x, y: x * 10 + y  # result문이 없습니다.

In [79]:
(lambda x, y: x * 10 + y)(1, 2)

12

In [80]:
mysum2_anon = lambda x, y: x * 10 + y
mysum2_anon

In [81]:
mysum2_anon(1, 2)

12

## 1급 함수

In [82]:
def fn(x, y):
    result = x + y  # result라는 새로운 변수가 생성
    return result

In [83]:
fn(1, 2)

3

In [84]:
def fn2(x, y):
    myfn = lambda a, b: a + b
    return x + y

In [85]:
fn2(1, 2)

3

In [86]:
def base10():
    fn = lambda x, y: x + y + 10
    return fn

In [88]:
return_fn = base10()
return_fn(1, 2)

13

In [89]:
def base10(x, y):
    return x + y + 10

def base20(x, y):
    return x + y + 20

def base30(x, y):
    return x + y + 30

def base(base_number):
    fn = lambda x, y: x + y + base_number
    return fn

In [90]:
base10(1, 2)

13

In [92]:
base(10)(1, 2)

13

In [93]:
def using_fn(fn, x, y):
    return fn(x, y)

In [94]:
using_fn(lambda a, b: a + b, 10, 20)

30

In [95]:
using_fn(lambda a, b: a * b, 10, 20)

200

In [98]:
def convert(data, rule_fn):
    result = rule_fn(data)
    print(result)

In [99]:
def split_fn(s):
    return s.split()  # white space 기준으로 쪼개어줍니다.

convert('Hello World', split_fn)

['Hello', 'World']

In [100]:
def split_character_fn(s):
    return list(s)

convert('Hello World', split_character_fn)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

### 실전 예시

In [102]:
def convert(data, rule_fn):
    converted_list = []
#     data  # 여러 줄 데이터
    for line in data.splitlines():  # 여러 줄을 줄 별로 끊어서, list화
        converted_list.append(rule_fn(line))  # rule_fn을 통해 각 컬럼들을 구분
    return converted_list

In [103]:
raw_data = '''이진석,90,80,70
공유,100,95,60
아이유,70,80,60'''

def convert_by_comma(line):
    return line.split(',')

convert(raw_data, convert_by_comma)

[['이진석', '90', '80', '70'],
 ['공유', '100', '95', '60'],
 ['아이유', '70', '80', '60']]

In [106]:
raw_data = '''이진석|90|80|70
공유|100|95|60
아이유|70|80|60'''

def convert_by_pipe(line):
    return line.split('|')

convert(raw_data, convert_by_pipe)

[['이진석', '90', '80', '70'],
 ['공유', '100', '95', '60'],
 ['아이유', '70', '80', '60']]

## 클래스

In [110]:
if 1 > 0:
    print('hello')
    pass
    print('world')

hello
world

In [145]:
class Person:
    def __init__(self, name, age, region):  # 생성자, Constructor
        self.name = name
        self.age = age
        self.region = region
    
    def say_hello(self):
        print('안녕하세요. {}님. {}살이시네요. {}에서 오셨군요.'.format(
            self.name, self.age, self.region
        ))
    
    def move_to(self, destination):
        self.region = destination

In [146]:
tom = Person('Tom', 10, '서울')
print(tom.name)
print(tom.age)
tom.say_hello()
tom.move_to('상해')
tom.say_hello()

Tom
10
안녕하세요. Tom님. 10살이시네요. 서울에서 오셨군요.
안녕하세요. Tom님. 10살이시네요. 상해에서 오셨군요.

In [143]:
steve = Person('Steve', 12, '부산')
print(steve.name)
print(steve.age)
steve.say_hello()

Steve
12
안녕하세요. Steve님. 12살이시네요. 부산에서 오셨군요.

## 퀴즈

사각형 클래스 (Rectangle) 를 만들어보세요.

생성자에 필요한 속성

* 가로 크기 : 정수형
* 세로 크기 : 정수형

In [148]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
       
    def get_area(self):
        return self.width * self.height

rect1 = Rectangle(10, 20)
rect2 = Rectangle(40, 15)

print(rect1.get_area())  # 10 * 20 => 200
print(rect2.get_area())  # 40 * 15 => 600

200
600

rect1 = Rectangle(10, 20)  # python

rect1 = Rectangle.new(10, 20)  # ruby

Rectangle rect1 = new Rectangle(10, 20);  # java

## 순회가능한 객체

In [159]:
# 리스트/튜플은 넣은 순서를 유지해주지만,
# 집합/사전은 넣은 순서를 포기하고, 성능을 선택.
movies = {
    '그것만이 내 세상',
    '1급 기밀',
    '코코',
    '커뮤터',
    '비밥바룰라',
}

In [160]:
for name in movies:
    print(name)

코코
그것만이 내 세상
커뮤터
1급 기밀
비밥바룰라