In [3]:
1 + 2

3

In [2]:
2 ** 100

1267650600228229401496703205376

# Python

## Variable

naver mobile page : http://m.naver.com

* int
* float
* str

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [12]:
print(sum(range(101)))
print(sum(range(2, 101, 2)))

5050
2550

## Variables

In [16]:
message = "Hello, Python"

In [17]:
print(message)

Hello, Python

In [18]:
message = "Hello, Data"

In [19]:
print(message)

Hello, Data

In [20]:
a = "hello, data"

In [21]:
print(a)

hello, data

In [22]:
birth = 1990

In [23]:
age = 2018 - birth

In [24]:
age

28

In [26]:
print(message)
print(age)

Hello, Data
28

In [29]:
print(message, age, sep='|')

Hello, Data|28

## Numeric Type

In [30]:
10 / 3

3.3333333333333335

In [31]:
10 // 3

3

In [32]:
10 % 3  # modular operator

1

In [33]:
divmod(10, 3)

(3, 1)

In [34]:
10 < 9

False

In [35]:
9 < 32 % 10

False

In [36]:
number = 39

(number % 10 == 9) and (number // 10 < 4)

True

In [37]:
not True

False

In [38]:
not False

True

In [40]:
not (number % 10 == 9)

False

In [48]:
bool(0)

False

In [49]:
bool('')

False

In [50]:
bool([])  # list

False

In [51]:
bool({})  # dict

False

In [52]:
'Python'

'Python'

In [55]:
print("Python")

Python

In [56]:
"Python\" Django"

'Python" Django'

In [57]:
'Python" Django'

'Python" Django'

In [60]:
"Mother's House"

"Mother's House"

In [64]:
lyrics = '''The now glows white on the mountain tonight
Now a footprint to be seen A kingdom of isolation
and it looks like I'm the queen'''

In [65]:
lyrics = (
    'The now glows white on the mountain tonight\n' +
    'Now a footprint to be seen A kingdom of isolation\n' +
    'and it looks like I\'m the queen')

In [66]:
print(lyrics)

The now glows white on the mountain tonight
Now a footprint to be seen A kingdom of isolation
and it looks like I'm the queen

In [67]:
"hello" + "world"

'helloworld'

In [ ]:
name = input("What's your name? ")
region = input('Where are you from?')
age = 10

print("Hello, " + name + ', ' + region)

print("Hello, {}, {}".format(name, region))

print("Hello, {0}, {1}".format(name, region))

print("Hello, {1}, {0}, {1}".format(name, region))

In [77]:
print(zzz)

NameError: name 'zzz' is not defined

In [2]:
import time

print("hello")
time.sleep(3)
print("world")

hello
world

## list

In [1]:
food_list = []

In [2]:
food_list.append('샐러드')

In [3]:
food_list.append('스프')

In [4]:
food_list.append('볶음밥')

In [5]:
food_list.append('디저트')

In [6]:
food_list

['샐러드', '스프', '볶음밥', '디저트']

In [7]:
work_list = []

In [8]:
work_list.append({
    'when': '2018-01-02',
    'location': '서울 강남구 역삼2동 111-22',
    'score': 5,
})

In [72]:
import random

lotto_numbers = []
lotto_numbers.append(random.randint(1, 45))
lotto_numbers.append(random.randint(1, 45))
lotto_numbers.append(random.randint(1, 45))
lotto_numbers.append(random.randint(1, 45))
lotto_numbers.append(random.randint(1, 45))
lotto_numbers.append(random.randint(1, 45))
lotto_numbers

[5, 14, 5, 3, 1, 14]

In [33]:
내가_먹고_싶은_음식들 = ['볶음밥', '낚지전골', '김치찌개', '짬봉']
random.choice(내가_먹고_싶은_음식들)

'짬봉'

In [36]:
내가_먹고_싶은_음식들 = [
    '볶음밥',
    '낚지전골',
    '김치찌개',
    '짬뽕'
    '짜장면',
]
내가_먹고_싶은_음식들

['볶음밥', '낚지전골', '김치찌개', '짬뽕짜장면']

In [37]:
numbers = [1, 3, 5, 7]

In [43]:
print(numbers[len(numbers) - 1])
numbers[-1]

7

7

In [44]:
9 in numbers  #  java: numbers.contains(9)

False

In [45]:
len("안녕하세요. World.")

13

In [48]:
print('나는 {}을 먹는다.'.format(내가_먹고_싶은_음식들[0]))
print('나는 {}을 먹는다.'.format(내가_먹고_싶은_음식들[1]))
print('나는 {}을 먹는다.'.format(내가_먹고_싶은_음식들[2]))
print('나는 {}을 먹는다.'.format(내가_먹고_싶은_음식들[3]))

나는 볶음밥을 먹는다.
나는 낚지전골을 먹는다.
나는 김치찌개을 먹는다.
나는 짬뽕짜장면을 먹는다.

In [49]:
for name in 내가_먹고_싶은_음식들:
    print('나는 {}을 먹는다.'.format(name))

나는 볶음밥을 먹는다.
나는 낚지전골을 먹는다.
나는 김치찌개을 먹는다.
나는 짬뽕짜장면을 먹는다.

In [50]:
bad_case = [10, 'Tom', (1, 2, 3)]

In [51]:
내가_먹고_싶은_음식들

['볶음밥', '낚지전골', '김치찌개', '짬뽕짜장면']

In [54]:
내가_먹고_싶은_음식들[-5]

IndexError: list index out of range

In [56]:
"hello"[0:4]

'hell'

In [58]:
"abcdefghijklmnopqrstuvwxyz"[2:-2:2]

'cegikmoqsuw'

In [64]:
"abcdefghijklmnopqrstuvwxyz"[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [65]:
list(range(10))  # 1개 지정 : [0, 마지막값)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
list(range(2, 10))  # 2개 지정 : [2, 마지막값)

[2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list(range(2, 10, 2)) # 3개 지정 : [2, 마지막값), 증가량: 2

[2, 4, 6, 8]

In [71]:
# 1000미만의, 3과 7의 공배수의 합
sum(range(21, 1000, 21))

23688

In [73]:
import random

lotto_numbers = []

while len(lotto_numbers) < 6:
    number = random.randint(1, 45)
    if number not in lotto_numbers:
        lotto_numbers.append(number)

lotto_numbers

[20, 17, 4, 5, 30, 2]

In [74]:
numbers1 = [1, 3, 5, 7]
numbers2 = [2, 4, 6, 8]

[i + j for (i, j) in zip(numbers1, numbers2)]

[3, 7, 11, 15]

In [75]:
for i in [1, 2, 3, 4]:
    print(i)

1
2
3
4

## tuple

In [78]:
numbers = [1, 3, 5, 7, 5]  # list
print(type(numbers))
numbers

<class 'list'>

[1, 3, 5, 7, 5]

In [79]:
numbers = (1, 3, 5, 7, 5)  # tuple
print(type(numbers))
numbers

<class 'tuple'>

(1, 3, 5, 7, 5)

In [80]:
numbers.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [82]:
numbers = 1, 2, 3
type(numbers)

tuple

In [88]:
numbers = [1,]

for i in numbers:
    print(i)

1

In [89]:
x = 1
y = 2

In [90]:
temp = x
x = y
y = temp

print(x, y)

2 1

In [91]:
(x, y) = (y, x)

print(x, y)

1 2

## 집합

In [93]:
import random

lotto_numbers = set()

while len(lotto_numbers) < 6:
    number = random.randint(1, 45)
    print(number)
    lotto_numbers.add(number)

lotto_numbers

18
44
5
38
38
3
37

{3, 5, 18, 37, 38, 44}

## 문법정리

In [94]:
# 리스트
numbers = []
numbers = [1, 2, 3]
numbers = list()  #  numbers = [] 와 동일

In [ ]:
# 튜플
numbers = ()
numbers = (1, 2, 3)
numbers = tuple()  #  numbers = () 와 동일

In [ ]:
# 집합
numbers = set()
numbers = {1, 2, 3}

In [95]:
# 사전
numbers = dict()
numbers = {}
numbers = {'blue': 1, 'red': 2, 'green': 3}

In [98]:
numbers = [1, 3, 5, 7, 1, 3, 5, 7, 9]
list(set(numbers))

[1, 3, 5, 7, 9]

In [99]:
stat = ['강남구', '광진구', '강남구', '광진구', '강남구']
set(stat)

{'강남구', '광진구'}

In [104]:
stat = {
    '강남구': 5,
    '강남구': 10,
    '광진구': 3,
    '강남구': 4,
}

print('스코어있는 구 목록 :', stat.keys())

스코어있는 구 목록 : dict_keys(['강남구', '광진구'])

In [106]:
'강남구' in stat

True

In [107]:
4 in stat

False

In [108]:
4 in stat.values()

True

In [111]:
for name in stat:
    print(name, stat[name])

강남구 4
광진구 3

In [112]:
stat['강남구']

4

In [113]:
stat

{'강남구': 4, '광진구': 3}

In [114]:
stat['동안구'] = 10

In [115]:
stat

{'강남구': 4, '광진구': 3, '동안구': 10}

In [116]:
stat['강남구'] = 6

In [117]:
stat

{'강남구': 6, '광진구': 3, '동안구': 10}

In [118]:
del stat['강남구']

In [119]:
stat

{'광진구': 3, '동안구': 10}

In [136]:
if '강남구' in stat:
    del stat['강남구']

## 성적관리 프로그램

list/dict, while 루프를 활용해서, 학생 10명의 이름, 국어/영어/수학 성적을 입력받아, 학생별 평균, 전체 평균을 출력하세요.

In [124]:
for i in range(10):
    # input(...)
    print(i)

print('합산 결과를 알려드리겠습니다.')
# 이진석, 평균 : ??점
# ???, 평균: ??점
# ???, 평균: ??점
# ...
# 총 평균 : ??점

0
1
2
3
4
5
6
7
8
9

In [125]:
line = input('학생의 이름, 국어/영어/수학 성적을 입력하세요.')

학생의 이름, 국어/영어/수학 성적을 입력하세요.이진석, 50, 80, 100

In [128]:
이름, 국어성적, 영어성적, 수학성적 = line.split(', ')

In [129]:
이름

'이진석'

In [134]:
(int(국어성적) + int(영어성적) + int(수학성적)) // 3

76