In [1]:
from dojo1.models import Field

In [2]:
Field.objects.all()

In [3]:
from django.template.loader import render_to_string

In [8]:
record_list = [
    {'name': '휴대폰 수리건', 'created_at': '2018-1-1'},
    {'name': '노트북 수리건', 'created_at': '2018-1-2'},
    {'name': '냉장고 수리건', 'created_at': '2018-1-3'},
]

message = render_to_string('dojo1/sms_message.txt', {
    'name': '이진석',
    'record_list': record_list,
    'amount': 100000,
})
print(message)

안녕하세요. 이진석님.

신청하신 건들에 대한 처리가 끝났습니다. 내역은 아래와 같습니다.

- 휴대폰 수리건: 2018-1-1
- 노트북 수리건: 2018-1-2
- 냉장고 수리건: 2018-1-3

총 비용은 100000원입니다.

감사합니다.

## 지도 mapping 실습

In [6]:
import pandas as pd

In [7]:
df = pd.read_excel('지도_mapping_실습.xlsx')
df.head()

    voc_type try_nm sgg_nm emd_nm   longitude   latitite  occr_date
0  HDVoice품질     강원    강릉시    장현동  128.888430  37.732395   20170620
1       음성품질     강원    강릉시    구정면  128.856951  37.719397   20170620
2  HDVoice품질     강원    강릉시     교동  128.899544  37.761604   20170620
3  HDVoice품질     강원    강릉시     교동  128.880934  37.764728   20170620
4  HDVoice품질     강원    강릉시    사천면  128.810161  37.837852   20170620

In [8]:
df['addr'] = df['try_nm'] + ' ' + df['sgg_nm'] + ' ' + df['emd_nm']

In [ ]:
for (index, row) in df.iterrows():
    print(row.sgg_nm, row.latitite)

## Place 모델

In [3]:
from dojo1.models import Place
from datetime import datetime

In [4]:
Place.objects.all()

In [21]:
for (index, row) in df.iterrows():
    place = Place()
    place.voc_type = row.voc_type
    place.try_nm = row.try_nm
    place.sgg_nm = row.sgg_nm
    place.emd_nm = row.emd_nm
    place.longitude = float(row.longitude)
    place.latitute = float(row.latitite)
    place.occr_date = datetime.now().today()
    place.save()